.loader {
  background-color: #ffffff30;
  border: 1px solid #ffffff80;
  border-radius: 6px;
  color: #fff;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 999;
}
