.result {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  color: #000;
  display: grid;
  font-size: 0.8rem;
  column-gap: 15px;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'rank city country'
    'rank value value';
  left: 10px;
  padding: 10px;
  pointer-events: none;
  row-gap: 5px;
  top: 10px;
  transform-origin: top left;
  user-select: none;

  &.tooltip {
    position: absolute;
  }

  h2,
  p {
    margin: 0;
  }

  .rank {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    grid-row: 1 / 3;
    grid-area: rank;
    height: 30px;
    justify-content: center;
    margin: 0;
    width: 30px;
  }

  .value {
    grid-area: value;
    margin: 0;
  }

  .country {
    grid-area: country;
    margin: 0;
  }

  .city {
    grid-area: city;
    margin: 0;
  }
}
