html,
body {
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

canvas.webglobe {
  outline: none;
}

.tooltip {
  background-color: rgba($color: #000, $alpha: 0.75);
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  left: 10px;
  padding: 20px;
  position: absolute;
  top: 10px;

  .country {
    margin: 0;
  }

  .occurrences {
    margin: 0;
  }
}