:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

$time-tooltip: 0.2s;

html,
body {
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

canvas.webglobe {
  outline: none;
}

.tooltip {
  background-color: rgba(#000, 0.85);
  border-radius: 10px;
  border: 1px solid #ddd;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 10px;
  transition: opacity $time-tooltip, transform 0.1s, visibility 0s $time-tooltip;
  visibility: hidden;

  &--visible {
    opacity: 1;
    transition: opacity $time-tooltip, transform 0.1s, visibility 0s;
    visibility: visible;
  }

  .country {
    margin: 0;
  }

  .value {
    margin: 0;
  }
}

.update-button {
  background: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  left: 50px;
  padding: 10px 20px;
  position: absolute;
  top: 50px;
}
