html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

canvas.webglobe {
  outline: none;
}

.tooltip {
  background-color: #fff;
  left: 10px;
  padding: 20px;
  position: absolute;
  top: 10px;
}